image:
  name: registry.gitlab.com/thamrongvorakul/custom_devops:master
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

stages:
  - build
  - deploy # dummy stage to follow the template guidelines

build:
  stage: build
  image: "registry.gitlab.com/gitlab-org/cluster-integration/auto-build-image/master:stable"
  variables:
    DOCKER_TLS_CERTDIR: ""
  services:
    - docker:stable-dind
  script:
    - |
      if [[ -z "$CI_COMMIT_TAG" ]]; then
        export CI_APPLICATION_REPOSITORY=${CI_APPLICATION_REPOSITORY:-$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG}
        export CI_APPLICATION_TAG=${CI_APPLICATION_TAG:-$CI_COMMIT_SHA}
      else
        export CI_APPLICATION_REPOSITORY=${CI_APPLICATION_REPOSITORY:-$CI_REGISTRY_IMAGE}
        export CI_APPLICATION_TAG=${CI_APPLICATION_TAG:-$CI_COMMIT_TAG}
      fi
    - /build/build.sh
  only:
    - branches

deploy:
  stage: deploy
  before_script:
    - echo -e "$SERVER_KEY" > ~/.ssh/server.pem
  script:
    - echo 'starting script'
    - echo $CI_APPLICATION_REPOSITORY:$CI_COMMIT_SHA
    - 'ansible-playbook -i inventory deploy.yml --private-key ~/.ssh/server.pem -u ubuntu --extra-vars "IMAGE_REPOSITORY=$CI_APPLICATION_REPOSITORY:$CI_COMMIT_SHA DEPLOY_TOKEN=$DEPLOY_TOKEN DEPLOY_PASS=$DEPLOY_PASS REGISTRY=$CI_REGISTRY"'
  when: manual # I just set it with manual because it is not a good practice if we deploy everytime when code has changed.
  needs: ["build"]
  only:
    - branches
